@import "tailwindcss";

@theme {
  --font-sans: "Satoshi", "sans-sarif";
}

@layer base {

  html {
    @apply antialiased;
  }

  * {
    @apply transition-colors duration-150 ease-linear;
    @apply [scrollbar-gutter:stable];
  }

  /** Pretty up the scrollbar */
  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300;
  }

  @keyframes grow-progress {
    to {
      transform: scaleX(1);
    }
  }

  @keyframes colorize-dot {
    0%,
    100% {
      background: theme(--color-red-600);
    }
  }
}
